
/*body {
    box-sizing: border-box;
}*/

h1{
    align-content: center;
}

#lists {
display:flex;
flex-direction: row;
align-items: center;
width: 100vw;
height: 100vh;
overflow-y: scroll;
padding:5px;
margin:5px;
justify-content: center;
}

#first, #second, #third {
    border: 1px solid tomato;
    width:15%;
    padding: 5px;
    margin:25px;
    height:70%;
    padding: 1px;
}

label{
    font-size: medium;
    font-weight: bold;
    align-content: space-around;
    text-align: justify;
}


.disablebtn {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color: black;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
   /* display: inline-block;*/
    font-size: 16px;
    margin:5px 12px 0px 12px ;
    cursor: pointer;
    width: 200px;
    height: 50px;
  }


  .enablebtn {
    background-color: tomato;
    border: 1px solid tomato;
    color: black;
    padding:  15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 12px 0px 12px;
    cursor: pointer;
    width: 200px;
    height: 50px;
  }

  p{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
  }



  .selectedli {
    background-color: tomato;
    border: 1px solid tomato;
    /*color: black;
    padding: 15px ;
    text-align: left;
    text-decoration: none;
   /* display: inline-block;*/
    /*font-size: 16px;
    margin:5px 1px 1px 1px ;
    cursor: pointer;
    width: 40%;
    height:1rem;*/
    
   /* list-style-type: none;*/
  }

  .unselectedli{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color: black;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
   /* display: inline-block;*/
    font-size: 16px;
    margin:5px 12px 0px 12px ;
    cursor: pointer;
    width: 200px;
    height: 50px; 
   /* list-style-type: none;*/
  }

  li{
    list-style-type: none;
    font-size: 20px;
    background-color: whitesmoke;
    margin: 2px;
    height: 5%;
    width: 89%;
    padding: 10px 0 20px 10px;

  }

